.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
  list-style: none;
  margin: 0;
}

@media (max-width: 390px) {
  .productGrid {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
}


