
.productItem {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.productItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


.imageWrapper {
  position: relative;
  width: 100%;
  height: 300px;
}

.productItem img {
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.productDetails {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
} 

.productDetails h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
}

.productDetails .price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #598ddb;
  margin-top: 0;
  margin-bottom: 12px;
}

.productDetails .description {
  font-size: 1rem;
  color: #666;
  margin: 2px 0;
  text-align: center;
}

.productItem button {
  background-color: #598ddb;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.productItem button:hover {
  background-color: #005bb5;
  color: #F1C40F;
}


.productItem a {
  text-decoration: none;
}


@media (max-width: 388px) {

  
.productItem {
  border-radius: 8px;
  height: 100%;
  width: 80%;
}

  .imageWrapper {
  position: relative;
  width: 100%;
  height: 55%;
}

.productDetails {
  padding: 10px;
} 

.productDetails h2 {
  font-size: 1rem;
  margin: 0;
  color: #333;
}

.productDetails .price {
  font-size: 0.75rem;
}

.productDetails .description {
  font-size: 0.65rem;
}


.productItem button {
  padding: 6px 13px;
  border-radius: 4px;
  font-size: 0.7rem;
}

}

