.navContainer {
  position: sticky;
  top: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 9999;
  margin: 0;
  padding: 0;
    min-height: 60px;
  width: 100%;
}


.nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    line-height: 0;
    background-color: #598ddb;
    align-items: center;
    /* border: 1px solid #2C5AA0; */
}


.nav a {
  text-decoration: none;
  color: aliceblue;
  text-align: center;
}

.nav a:hover {
    color: #b4cff8;
}

.nav .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.nav .cart {
  padding: 15px 10px;
  margin-right: 50px;
  border: 0.5px solid #2c5aa098;
  border-radius: 6px;
  position: relative;
}

.cart:hover {
  background-color: #598ddb;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}


.active {
  display: block;
  background-color: #E74C3C;
  color:#F1C40F;
  font-weight: 700;
  position: absolute;
  top: -10px;
  right: -10px;
  /* border: 0.4px solid; */
  border-radius: 50%;
  padding: 10px 5px;
  color: azure;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
}


@media (max-width: 810px) {
  .nav .text {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #598ddb;
    display: none;
  }

  .nav .text.open {
    display: flex;
  }

  .nav .text a {
    padding: 15px 0;
    width: 100%;
  }

  .hamburger {
    display: flex;
  }

  .cart {
    margin-right: 10px;
  }

  .nav img {
    display: none;
  }

}

