* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  padding-top: 80px;
}



nav {
  margin-top: 0;
  padding-top: 0;
}
