.body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  max-width: 500px;
  margin: 2rem auto;
  padding: 4rem;
  position: absolute;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.container:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  /* transform: translate(5px, -5px); */
}

.container,
.back button {
  border: none;
  position: relative;
  top: 0;
  left: 6;
}

.header {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.heading {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  align-self: center;
}

.description {
  margin-bottom: 1.5rem;
  color: #555;
  font-size: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  font-weight: 500;
}

.input,
.select {
  padding: 0.6rem 0.7rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.input:focus,
.select:focus {
  outline: none;
  border-color: #4A86C5;
}

.button {
  margin-top: 1rem;
  padding: 0.75rem;
  border-radius: 4px;
  border: none;
  background-color: #4A86C5;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #0059c1;
}
