.container {
  margin: -80px auto;
  /* padding: 24px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}



.detailsCard {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: 70%;
  width: 45%;
}


.imageWrapper {
  position: relative;
  height: auto;
  object-fit: cover;
  flex: 1;
  width: 70%;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  object-fit: cover;

}


.detailsCard .name {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 16px;
  /* margin-; */
  color: #333;
}

.detailsCard .price {
  color: #4A86C5;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 1.5rem;
  font-weight: 600;
  /* margin-bottom: 16px; */
}

.detailsCard .description {
  font-size: 1rem;
  /* margin-bottom: 60px 0; */
  text-align: center;
  font-size: 1rem;
  color: #4b5563;
}

.detailsCard button {
  background-color: #4A86C5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.detailsCard button:hover {
  background-color: #005bb5;
  color: #F1C40F;
}


@media (max-width: 1020px) {
  .detailsCard{
    height: 60%;
  width: 50%;
  }
}

@media (max-width: 811px) {
  .detailsCard{
    height: 50%;
  width: 45%;
  }
}


